In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
proy= pd.read_csv(os.path.join("data", "proyecto.csv"))

proy

  actividades predecesor  duracion
0           A        NaN         5
1           B        NaN        40
2           C          A        60
3           D          B        15
4           E         CD        10
5           F          C        90
6           G          C        20
7           H          F        15
8           I        EGH         5

In [3]:
act=proy['actividades'].tolist()
proy['t_i']=0
proy['t_f']=0
proy=proy.fillna("")
proyect=proy.set_index('actividades').T.to_dict('list')
proy

  actividades predecesor  duracion  t_i  t_f
0           A                    5    0    0
1           B                   40    0    0
2           C          A        60    0    0
3           D          B        15    0    0
4           E         CD        10    0    0
5           F          C        90    0    0
6           G          C        20    0    0
7           H          F        15    0    0
8           I        EGH         5    0    0

In [4]:
proyect=proy.set_index('actividades').T.to_dict('list')

for x in proyect.keys():
    if proyect[x][0]=="":
        proyect[x][3]=proyect[x][1]
        print(x,proyect[x])
        #print(proyect[x])
    else:
        a=list(proyect[x][0])
        mayor=[]
        m_i=[]
        for i in a:
            mayor.append(proyect[i][3])
        proyect[x][3]=proyect[x][1]+np.max(mayor)
        proyect[x][2]=np.max(mayor)
        print(x,proyect[x])

A ['', 5, 0, 5]
B ['', 40, 0, 40]
C ['A', 60, 5, 65]
D ['B', 15, 40, 55]
E ['CD', 10, 65, 75]
F ['C', 90, 65, 155]
G ['C', 20, 65, 85]
H ['F', 15, 155, 170]
I ['EGH', 5, 170, 175]

In [5]:
aux=[]
for i in proyect.keys():
    aux.append(proyect[i][3])

times=dict(zip(aux,proy['actividades'].tolist()))
times

{5: 'A',
 40: 'B',
 65: 'C',
 55: 'D',
 75: 'E',
 155: 'F',
 85: 'G',
 170: 'H',
 175: 'I'}

In [6]:
act=proy['actividades'].tolist()
fin=act[0]
act.reverse()
ini=act[0]
n_fin=proyect[fin][3]
rute=[]
proyect[ini][3]
while proyect[ini][3]!= n_fin:
    rute.append(ini)
    ini=times[proyect[ini][2]]
rute.append(ini)

In [7]:
rute.reverse()
print("la ruta critica es", rute)

la ruta critica es ['A', 'C', 'F', 'H', 'I']